CONFIG_TARGET_armsr=y
CONFIG_TARGET_armsr_armv8=y
CONFIG_TARGET_armsr_armv8_DEVICE_generic=y
CONFIG_TARGET_ROOTFS_TARGZ=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
# CONFIG_TARGET_ROOTFS_CPIOGZ is not set
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
# CONFIG_GRUB_IMAGES is not set
# CONFIG_PACKAGE_u-boot-qemu_armv8 is not set
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_ru=y
CONFIG_LUCI_LANG_zh_Hans=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_conntrack=y
# CONFIG_PACKAGE_ip-tiny is not set
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-proto-ppp=y
# CONFIG_PACKAGE_hostapd-basic-mbedtls is not set
CONFIG_PACKAGE_wpad-mbedtls=y
CONFIG_PACKAGE_be7000-wifi=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wifi-scripts=y
CONFIG_WIFI_SCRIPTS_UCODE=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_ucode-mod-digest=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_nftables-json=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kexec=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_ca-bundle=y
# Docker and UI
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-i18n-dockerman-ru=y
# Useful tools and proxy
CONFIG_PACKAGE_mc=y
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_sing-box=y
